body{

    font-family: 'Roboto', sans-serif;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
  
#queryContainer{
  
    display: flex;
    justify-content: center;
    align-items: center;
    width:95%;
    background: #eeeeee;
    margin-top:1%;
    padding:20px;
    height:90vh;
}
        
.query{

    display:block;
    background:#b82e8a;
    border: 1px solid  #ebadd6;
    width:95%;
    padding:1%;
    height:min-content;
}

input[type='text']{

    display:block;
    width:80%;
    margin-bottom:10px;
    font-size:12px;
}

input[type='button']{

font-size:12px;
}

   